<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#485f6a"/>
    <link rel="shortcut icon" href="<%= BASE_URL %>favicon.png" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>apple-touch-icon-180x180.png"/>
    <title>opt-inventory</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500&amp;subset=cyrillic" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Jura:400,500&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but inventory doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>