<template>
   <div class="tab-content">
      <table class="table table-striped">
			<thead>
				<tr v-for="(label, idx) in accessories_labels" :key="idx">
               <th>#</th>
					<th>{{label.type}}</th>
					<th>{{label.inv_number}}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(data, idx) in accessories_data" :key="data.inv_number">
               <td>{{idx + 1}}.</td>
					<td>{{data.pc}}</td>
					<td>{{data.inv_number}}</td>
				</tr>
			</tbody>
		</table>
   </div>
</template>

<script>
   export default {
		props: ['accessories_labels', 'accessories_data']

}
</script>

<style lang="scss" scoped>


</style>