<template>
  <section class="accessories content-section">
    <b-container fluid class="py-5">
      <h1>Комплектующие</h1>
    </b-container>
    <b-container fluid>
      <b-row>
        <b-col col lg="3">
          <ul class="tabs">
            <li
              v-for="(tab, index) in tabs"
              :key="index"

              @click="selected = tab.component"
              :class="['tab', { active: selected === tab.component }]"
            >
            {{tab.title}}
            </li>
          </ul>
        </b-col>
        <b-col>
          <div class="container">
            <div class="row"></div>
          </div>
          <component :is="selected" :accessories_labels="accessories_labels" :accessories_data="accessories_data"/>
          <div class="actions">
            <!-- <button class="btn btn-success">Добавить</button> -->
            <!-- <button class="btn btn-primary">Изменить</button> -->
            <!-- <button class="btn btn-danger">Удалить</button> -->
            <button class="btn btn--icon btn-success"><svg viewBox="0 0 24 24"><use xlink:href="#i-add"></use></svg></button>
            <button class="btn btn--icon btn-primary"><svg viewBox="0 0 24 24"><use xlink:href="#i-pencil"></use></svg></button>
            <button class="btn btn--icon btn-danger"><svg viewBox="0 0 24 24"><use xlink:href="#i-remove"></use></svg></button>
          </div>
        </b-col>
        <!-- <b-col lg="9" offset-lg="3"></b-col> -->
      </b-row>
    </b-container>
  </section>
</template>

<script>
import {mapState} from 'vuex'
import Motherboard from "@/components/accessories/Motherboard";
import Computers from "@/components/accessories/Computers";
import Ram from "@/components/accessories/Ram";
import Hdd from "@/components/accessories/Hdd";
import Ssd from "@/components/accessories/Ssd";
import Gpu from "@/components/accessories/Gpu";
import Cpu from "@/components/accessories/Cpu";
import Monitors from "@/components/accessories/Monitors";
import Mouses from "@/components/accessories/Mouses";
import Keyboards from "@/components/accessories/Keyboards";
import Headphones from "@/components/accessories/Headphones";

export default {
  data() {
    return {
      tabs: [
        {title: 'Материнки', component: 'Motherboard'},
        {title: 'Компьютеры', component: 'Computers'},
        {title: 'ОЗУ', component: 'Ram'},
        {title: 'HDD', component: 'Hdd'},
        {title: 'SSD', component: 'Ssd'},
        {title: 'Видеокарты', component: 'Gpu'},
        {title: 'Процессоры', component: 'Cpu'},
        {title: 'Мониторы', component: 'Monitors'},
        {title: 'Мышки', component: 'Mouses'},
        {title: 'Клавиатуры', component: 'Keyboards'},
        {title: 'Наушники', component: 'Headphones'}
      ],
      selected: "Motherboard"
    }
  },
  components: {Motherboard, Computers, Ram, Hdd, Ssd, Gpu, Cpu, Monitors, Mouses, Keyboards, Headphones},
  computed: {
		...mapState('equipment', [ 'accessories_labels', 'accessories_data' ])
  }

}
</script>

<style lang="scss">
  .card-header {
    background-color: transparent;
  }
  .tabs {
    list-style: none;
    max-width: 240px;
    margin: 0;
  }
  .tab, [role=tab] {
    color: #098593;
    border: 1px solid!important;
    text-align: center;
    padding: .44em 1.8em;
    font-weight: 500;
    letter-spacing: .04em;
    font-size: 1.04em;
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;
    transition: .2s;
    &:hover {
      color: #478;
      // color: $color;
      background-color: rgba(9,133,147,.24)
    }
    &:not(:last-child) {margin-bottom: 8px;}
  }
  .tab.active, .active[role=tab][aria-selected=true] {
    color: #fff;
    background-color: #098593;
    transition: .1s;
  }
  .actions {
    padding: 12px 0;
  }
</style>