<template>
   <section class="content-section">
      <b-container v-if="!auth">
         <div class="h1 mt-5">Для отображения данных, пожалуйста войдите в систему или зарегистрируйтесь!..</div>
      </b-container>
      <div v-else>
         <b-container fluid class="pt-5">
            <h1>Сводная информация</h1>
         </b-container>
         <main-table></main-table>
         <modal-edit></modal-edit>
      </div>
   </section>
</template>

<script>
/* eslint-disable no-console */
// import axios from "axios";
export default {
   data() {
      return {
         auth: true
      }
   },
   mounted(){
      this.$store.dispatch('auth/fetchData')
      // let token = localStorage.token

      // const config = { headers: {'Authorization' : token} }

      // axios.get('https://inventory-pc-optimus.herokuapp.com/api/motherboards', config)
      //    .then(response => console.log('response', response))
      //    .catch(e => console.log('eeer---', e))
   },
   methods: {
      showModal() {
         this.$refs['my-modal'].show()
      },
      hideModal() {
         this.$refs['my-modal'].hide()
      }
   }
}
</script>
