<template>
   <div class="container py-5">
      <h1 class="text-center pb-3">Вход</h1>
      <b-row>
         <b-form class="col-lg-4 offset-lg-4" @submit.prevent="submitHandler">

            <div class="input-field">
               <label for="email">Введите Email</label>
               <input
                  id="email"
                  type="text"
                  v-model.trim="email"
                  class="form-control"
                  :class="{invalid: ($v.email.$dirty && !$v.email.required || $v.email.$dirty && !$v.email.email)}"
               >
               <small class="helper-text invalid" v-if="$v.email.$dirty && !$v.email.required">Поле Email не должно быть пустым</small>
               <small class="helper-text invalid" v-else-if="$v.email.$dirty && !$v.email.email">Не корректный Email!</small>
            </div>

            <div class="input-field">
               <label for="password">Введите Пароль</label>
               <input
                  id="password"
                  type="password"
                  v-model.trim="password"
                  class="form-control"
                  :class="{invalid: ($v.password.$dirty && !$v.password.required || $v.password.$dirty && !$v.password.minLength)}"
               >
               <small class="helper-text invalid" v-if="$v.password.$dirty && !$v.password.required">Введите пароль</small>
               <small class="helper-text invalid" v-else-if="$v.password.$dirty && !$v.password.minLength">Должно быть не менее {{$v.password.$params.minLength.min}} символов. Сейчас {{password.length}}</small>
            </div>
            <br>

            <b-button type="submit" class="btn btn--primary">Войти</b-button>
         </b-form>
      </b-row>
   </div>
</template>

<script>
import { email, required, minLength } from 'vuelidate/lib/validators'
export default {
   name: 'login',
   data: () => ({
      email: '',
      password: ''
   }),
   validations: {
      email: { email, required },
      password: { required, minLength: minLength(6) }
   },
   methods: {
      async submitHandler () {
         if (this.$v.$invalid) {
            this.$v.$touch()
            return
         }
         const formData = {
            email: this.email,
            password: this.password
         }
         try {
         await this.$store.dispatch('auth/login', formData)
         this.$router.push('/')
         } catch (e) {
            // eslint-disable-next-line no-console
            console.info(e)
         }
      }
   }
}
</script>
