<template>
   <header>
      <!-- svg-sprite-->
      <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
         <defs>
            <symbol id="i-pencil" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></symbol>
				<symbol id="i-add" viewBox="0 0 24 24" fill="currentColor"><path d="M5 2c-0.405 0-0.793 0.081-1.148 0.228-0.367 0.152-0.697 0.375-0.973 0.651s-0.499 0.606-0.651 0.973c-0.147 0.355-0.228 0.743-0.228 1.148v14c0 0.405 0.081 0.793 0.228 1.148 0.152 0.368 0.375 0.698 0.651 0.974s0.606 0.499 0.974 0.651c0.354 0.146 0.742 0.227 1.147 0.227h14c0.405 0 0.793-0.081 1.148-0.228 0.368-0.152 0.698-0.375 0.974-0.651s0.499-0.606 0.651-0.974c0.146-0.354 0.227-0.742 0.227-1.147v-14c0-0.405-0.081-0.793-0.228-1.148-0.152-0.368-0.375-0.698-0.651-0.974s-0.606-0.499-0.974-0.651c-0.354-0.146-0.742-0.227-1.147-0.227zM5 4h14c0.137 0 0.266 0.027 0.382 0.075 0.122 0.050 0.232 0.125 0.325 0.218s0.167 0.203 0.218 0.325c0.048 0.116 0.075 0.245 0.075 0.382v14c0 0.137-0.027 0.266-0.075 0.382-0.050 0.122-0.125 0.232-0.218 0.325s-0.203 0.167-0.325 0.218c-0.116 0.048-0.245 0.075-0.382 0.075h-14c-0.137 0-0.266-0.027-0.382-0.075-0.122-0.050-0.232-0.125-0.325-0.218s-0.167-0.203-0.218-0.325c-0.048-0.116-0.075-0.245-0.075-0.382v-14c0-0.137 0.027-0.266 0.075-0.382 0.050-0.122 0.125-0.232 0.218-0.325s0.203-0.167 0.325-0.218c0.116-0.048 0.245-0.075 0.382-0.075zM8 13h3v3c0 0.552 0.448 1 1 1s1-0.448 1-1v-3h3c0.552 0 1-0.448 1-1s-0.448-1-1-1h-3v-3c0-0.552-0.448-1-1-1s-1 0.448-1 1v3h-3c-0.552 0-1 0.448-1 1s0.448 1 1 1z"></path></symbol>
				<symbol id="i-remove" viewBox="0 0 24 24" fill="currentColor"><path d="M18 7v13c0 0.137-0.027 0.266-0.075 0.382-0.050 0.122-0.125 0.232-0.218 0.325s-0.203 0.167-0.325 0.218c-0.116 0.048-0.245 0.075-0.382 0.075h-10c-0.137 0-0.266-0.027-0.382-0.075-0.122-0.050-0.232-0.125-0.325-0.218s-0.167-0.203-0.218-0.325c-0.048-0.116-0.075-0.245-0.075-0.382v-13zM17 5v-1c0-0.405-0.081-0.793-0.228-1.148-0.152-0.368-0.375-0.698-0.651-0.974s-0.606-0.499-0.974-0.651c-0.354-0.146-0.742-0.227-1.147-0.227h-4c-0.405 0-0.793 0.081-1.148 0.228-0.367 0.152-0.697 0.375-0.973 0.651s-0.499 0.606-0.651 0.973c-0.147 0.355-0.228 0.743-0.228 1.148v1h-4c-0.552 0-1 0.448-1 1s0.448 1 1 1h1v13c0 0.405 0.081 0.793 0.228 1.148 0.152 0.368 0.375 0.698 0.651 0.974s0.606 0.499 0.974 0.651c0.354 0.146 0.742 0.227 1.147 0.227h10c0.405 0 0.793-0.081 1.148-0.228 0.368-0.152 0.698-0.375 0.974-0.651s0.499-0.606 0.651-0.974c0.146-0.354 0.227-0.742 0.227-1.147v-13h1c0.552 0 1-0.448 1-1s-0.448-1-1-1zM9 5v-1c0-0.137 0.027-0.266 0.075-0.382 0.050-0.122 0.125-0.232 0.218-0.325s0.203-0.167 0.325-0.218c0.116-0.048 0.245-0.075 0.382-0.075h4c0.137 0 0.266 0.027 0.382 0.075 0.122 0.050 0.232 0.125 0.325 0.218s0.167 0.203 0.218 0.325c0.048 0.116 0.075 0.245 0.075 0.382v1zM9 11v6c0 0.552 0.448 1 1 1s1-0.448 1-1v-6c0-0.552-0.448-1-1-1s-1 0.448-1 1zM13 11v6c0 0.552 0.448 1 1 1s1-0.448 1-1v-6c0-0.552-0.448-1-1-1s-1 0.448-1 1z"></path></symbol>
				<symbol id="i-search" viewBox="0 0 24 24" fill="currentColor"><path d="M16.041 15.856c-0.034 0.026-0.067 0.055-0.099 0.087s-0.060 0.064-0.087 0.099c-0.627 0.604-1.365 1.091-2.18 1.429-0.822 0.34-1.725 0.529-2.675 0.529s-1.853-0.189-2.677-0.53c-0.856-0.354-1.627-0.874-2.273-1.521s-1.166-1.417-1.521-2.273c-0.34-0.823-0.529-1.726-0.529-2.676s0.189-1.853 0.53-2.677c0.354-0.855 0.874-1.627 1.52-2.273s1.418-1.166 2.273-1.52c0.824-0.341 1.727-0.53 2.677-0.53s1.853 0.189 2.677 0.53c0.856 0.354 1.627 0.874 2.273 1.521s1.166 1.417 1.521 2.273c0.34 0.823 0.529 1.726 0.529 2.676s-0.189 1.853-0.53 2.677c-0.338 0.815-0.825 1.553-1.429 2.18zM21.707 20.293l-3.675-3.675c0.525-0.656 0.96-1.387 1.286-2.176 0.44-1.062 0.682-2.225 0.682-3.442s-0.242-2.38-0.682-3.442c-0.456-1.102-1.125-2.093-1.954-2.922s-1.82-1.498-2.922-1.954c-1.062-0.44-2.225-0.682-3.442-0.682s-2.38 0.242-3.442 0.682c-1.102 0.456-2.093 1.125-2.922 1.954s-1.498 1.82-1.954 2.922c-0.44 1.062-0.682 2.225-0.682 3.442s0.242 2.38 0.682 3.442c0.456 1.102 1.125 2.093 1.954 2.922s1.82 1.498 2.922 1.954c1.062 0.44 2.225 0.682 3.442 0.682s2.38-0.242 3.442-0.682c0.788-0.327 1.52-0.762 2.176-1.286l3.675 3.675c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414z"></path></symbol>
         </defs>
      </svg>

      <b-navbar variant="faded" type="light">
         <b-container fluid>
            <b-navbar-brand href="#">
               <router-link to="/"><span class="logo"><img src="../../public/apple-touch-icon-180x180.png" alt=""></span></router-link>
            </b-navbar-brand>
            <b-navbar-nav class="ml-auto">
               <router-link class="nav-link" to="/">Сводная информация</router-link>
               <router-link class="nav-link" to="/Accessories">Комплектующие</router-link>
               <router-link class="nav-link" to="/login">Вход</router-link>
            </b-navbar-nav>
            <!-- <a href="#" class="btn btn--primary ml-3">Войти</a> -->
         </b-container>
      </b-navbar>
   </header>
</template>

<style lang="scss">

.navbar {
	background-color: #fff;
	box-shadow: 0 2px 12px -4px rgba(1,1,1,.1);
	color: #01727e;
	padding: .3em 1em;
}
.navbar-brand {padding: 0;}

.logo {
	max-width: 60px;
	height: 60px;
	display: inline-block;
	padding: 1px 0;
	vertical-align: middle;
	border-radius: 50%;
	overflow: hidden;
}
.navbar-light .navbar-nav .nav-link {
	color: #0c9bab;
	font-size: 1em;
	margin: 0 .6em;
	position: relative;
	transition: .25s;
	&:focus {
		color: rgb(13, 185, 205);
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 6px;
		left: 11px;
		right: 11px;
		border-bottom: 1px solid;
		opacity: 0;
		transform: translateY(-2px);
		transition: .25s;
	}
	&:hover {
		color: rgb(54, 186, 201);
		&:after {
			opacity: .6;
			transform: translateY(0);
		}

	}
}
</style>