<template>
	<b-container fluid class="py-2">
		<table class="table table-striped">
			<thead>
				<tr>
					<th v-for="field in fields" :key="field">{{field}} </th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in items" :key="item.inv_number">
					<td>{{item.first_name}}</td>
					<td>{{item.inv_number}}</td>
					<td>{{item.pc.join(', ')}}</td>
					<td>{{item.monitor.join(', ')}}</td>
					<td>{{item.kbd}}</td>
					<td>{{item.mouse}}</td>
					<td>
						<button class="btn btn--sm" v-b-modal="'modal'"><svg viewBox="0 0 24 24"><use xlink:href="#i-search"></use></svg> </button>
					</td>
				</tr>
			</tbody>
		</table>
	</b-container>
</template>

<script>
import {mapState} from 'vuex'
export default {
   computed: {
		...mapState('equipment', [ 'fields', 'items' ])
   }
}
</script>

<style lang="scss">


</style>