<template>
   <div>
      <b-modal id="modal" title="Оборудование закреплённое за:" hide-footer centered size="lg">
         <table class="table table-striped">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>0000000000000</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>ertertt</td>
                  <td>ertert</td>
               </tr>
               <tr>
                  <td>ertertt</td>
                  <td>ertert</td>
               </tr>
               <tr>
                  <td>ertertt</td>
                  <td>ertert</td>
               </tr>
            </tbody>
         </table>
         <!-- <b-button @click="hideModal">Close</b-button> -->
         <!-- <b-button @click="saveItem">Save</b-button> -->
      </b-modal>
   </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
   computed: {
		...mapState('equipment', [ 'fields', 'items' ])
   }
}
</script>

<style lang="scss">
.modal-header {
   background-color: #a8dee5;
   color: #098593;
   letter-spacing: .03em;
   .close:focus {
      outline-color: transparent;
      box-shadow: none;
   }
}
.modal-body {
   padding: 0 15px;
   position: relative;
   &:before {
		content: '';
		position: absolute;
		pointer-events: none;
      // bottom: 0;
      top: 0;
		left: 0;
		right: 0;
		height: 300px;
		background: url(../../public/dots.png) center -65px repeat-x;
		background-size: 220px 108px;
      opacity: 0.6;
	}
}
</style>
