::-webkit-scrollbar{width: 6px;}
::-webkit-scrollbar-thumb {background: #ccc; cursor: pointer; border-radius: 3px}
::-webkit-scrollbar-track-piece{background: #eee;cursor: pointer}
::-webkit-scrollbar-corner{background: transparent;border: none}

html {
	font-family: sans-serif;
	box-sizing: border-box;
	font-size: 15px;
	-ms-overflow-style: scrollbar
}
body {
	position: relative;
	color: #67737D;
	// font: 18px 'Fira Sans', Arial,sans-serif;
	font: 19px 'Jura', Arial,sans-serif;
	font-weight: 400;
	line-height: 1.41;
	letter-spacing: .01em;
	word-spacing: .04em;
	background-color: #f7f7f7!important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
*,*::before,*::after {
	margin: 0;
	padding: 0;
	outline: 0 none;
	border: none;
	box-sizing: inherit
}
img {
	max-width: 100%;
	display: block;
}
section {
	width: 100%;
	position: relative;
}
a,a:focus {
	text-decoration:none;
	outline:0;
	cursor: pointer;
	transition: .3s;
	user-select: none;
}
h1, .h1 {
	color: #098593;
	font-size: 2.5rem;
}

p {padding-bottom: 1em;}

.container-fluid {max-width: 1350px;}

.btn {
	font-size: 1em;
	font-weight: 500;
	height: auto;
	line-height: 1.1;
	transition: .34s;
	padding: 9px 13px;
	min-width: 124px;
	cursor: pointer;
	&:focus {
		box-shadow: 0 0 0 0.2rem #a8dee5;
	}
	& + .btn {
		margin-left: 9px;
	}
}
.btn--sm {
	border-radius: 50%;
	font-size: 0;
	margin: 0 2px;
	color: #098593;
	border: 1px solid;
	text-align: center;
	min-width: 38px;
	height: 38px;
	display: block;
	margin: 0 auto;
	padding: 0.5em 0.5em;
	&:hover {
		background-color: #098593;
		color: #fff;
		border-color: #098593;
	}
	svg {
		display: inline-block;
		max-width: 22px;
		vertical-align: -1px;
	}
}
.btn--icon {
	border-radius: 0.4em;
	min-width: auto;
	svg {
		display: inline-block;
		width: 24px;
		max-width: 24px;
	}
}
.btn--primary {
	min-width: 110px;
	border-radius: 4px;
	background-color: #098593;
	color: #fff;
	border-color: #098593;
	padding: 0.31em 0.41em;
	&:hover {
		color: #fff;
		background-color: rgba(#098593,.9);
	}
}
.close {
  float: right;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  color: #098593;
  text-shadow: 0 1px 0 #fff;
  opacity: .8;
  transition: .34s;
}
.modal-header .close {
  padding: .6rem 1rem;
  margin: -1rem -.4rem -1rem auto;
  &:focus{outline-color: transparent}
}
.content-section {
	position: relative;
	min-height: calc(100vh - 74px);
	z-index: 1;
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		background:#fff url(../public/bg2.png) center bottom no-repeat;
		background-size: contain;
		z-index: -1;
		opacity: .3;
	}
}
.title {
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		background: linear-gradient(to right,#50e590 50%,#0796c6 120%);
		display: inline-block;
		height: 3px;
		max-width: 100px;
		width: 100%;
	}
}
.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.02);
}
.table-striped tbody tr:nth-of-type(even) {background-color: #fff;}

.table {
	position: relative;
	z-index: 1;
	margin-top: 40px;
	border: 1px solid #dee2e6;
	width: 100%;
	color: #434a52;
	thead {
		background-color: #a8dee5;
		color: #098593;
		letter-spacing: .03em;
	}
	tbody {font-size: 0.89em;}
}
.table thead th,.table th {
	border-bottom: none;
	font-weight: 500;
}
.table th, .table td {
	vertical-align: middle;
	white-space: nowrap;
	max-width: 290px;
	overflow: hidden;
	text-overflow: ellipsis;
	&:not(:first-of-type) {text-align: center;}
	&:first-of-type {
		border-right: 1px solid #eaeaef;
		padding-left: 0.9em;
		font-weight: 500;
	}
}
.table th {padding: 0.8em 0.5em;}
.table td {padding: 0.5em;}

.tab-content {
   min-height: 200px;
	border: 1px solid #555;
	.table {
		margin-top: 0;
		& th:first-of-type, & td:first-of-type {
			text-align: center;
			padding-left: 0.5em;
		}
	}
}
//forms
.input-field {
   margin-bottom: 15px;
}
.invalid {
   display: block;
   color: #e73008;
}
.form-control {
	margin-bottom: 3px;
	height: 2.8rem;
   &.invalid {
      border-color: #daa;
   }
}
[type=password] {
	font-size: 1.6em;
	letter-spacing: .06em;
	line-height: 1;
	color: #098593;
	&:focus{color: #098593}
}
p::first-letter {
	text-transform: uppercase;
}