<template>
   <div class="app">
      <v-header></v-header>
      <!-- r o u t e s -->
      <router-view />
   </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import "assets/app.scss";

</style>